.header-container {
  display: flex;
  justify-content: space-evenly;
  background-color: #85c7c7b3;
}

.header_currency {
  display: flex;
  align-items: center;
}

.header_currency:not(:last-child) {
  margin-right: 50px;
}

.header_currency--name {
  margin-right: 20px;
  font-size: 30px;
}

.header_currency--course {
  margin-right: 20px;
  font-size: 30px;
}
